/ {
    gpio_keys {
    compatible = "gpio-keys";
        ledyellow: led_yellow {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        };
        buzzer: buzzer {
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
            label = "Allarme de securite";
        };

        irsensor: irsensor {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = " Senseur ";
        };
    };

    dht11: dht11 {
        compatible = "aosong,dht";
        status = "okay";
        dio-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        label = "XHT11";
    };

    zephyr,user {
		io-channels =
			<&adc0 6>;
	};

    buttons {
        compatible = "gpio-keys";
            button_16: button_16 {
                gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
                label = "User button 1";
            };
            button_27: button_27 {
                gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
                label = "User button 2";
            };
        };

    
    aliases {
        led-yellow = &ledyellow;
        display = &display;
        capteur = &dht11;
        button1 = &button_16;
        button2 = &button_27;
        buzzer = &buzzer;
        irsensor = &irsensor;
        
    };

};



&i2c0 {
    display: I2c_display@27 {
        compatible = "i2c-device";
        reg = <0x27>;
        label = "Afficheur";
    };
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};
